-
  const weekdays = ['monday' , 'tuesday' , 'wednesday' , 'thursday' , 'friday' , 'saturday' , 'sunday'];
  const nEInH = 2;

  function hourSeparator(hour,split){

    const a = 60/split

      return Array(split).fill('').map(((s, i)=>{
        const calc = a*i
        return `${hour > 9 ? hour : '0'+hour}:${calc>9? calc: '0'+calc}`
      }))
  }

mixin Hour(hour, numberOfSpacers)
  .Hour.flex.col
    each time in hourSeparator(hour, numberOfSpacers)
      .Separator(data-time= time)

doctype html
html
  head
    //- link(rel="stylesheet" href="/css/styles.css")
    //- script(src="/js/bundle.js")
    //- script(data-main="/js/index" type="text/javascript" src="https://requirejs.org/docs/release/2.3.6/minified/require.js" defer)
  body
    block content 